@model ayalas_street_dogs.Models.Platillo

@{
    ViewData["Title"] = "Detalles";
}

<div class="container mt-5">
    <div class="card card-custom mx-auto" style="max-width: 550px;">
        <h1 class="page-title">DETALLES DE PLATILLO CON ID. @Html.DisplayFor(model => model.IdPlatillo)</h1>

        <dl class="row mb-4">
            <dt class="col-sm-4 fw-bold text-end">
                Platillo:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NombrePlatillo)
            </dd>

            <dt class="col-sm-4 fw-bold text-end">
                Precio:
            </dt>
            <dd class="col-sm-8">
                <span class="badge rounded-pill" style="background-color: #F28F16; color: white; padding: 0.5em 0.8em;">
                    @Html.DisplayFor(model => model.Precio)
                </span>
            </dd>
            <dt class="col-sm-4 fw-bold text-end">
                Descripción:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="col-sm-4 fw-bold text-end">
                Categorías:
            </dt>
            <dd class="col-sm-8">
                <span class="badge rounded-pill" style="background-color: #F28F16; color: white; padding: 0.5em 0.8em;">
                    @Html.DisplayFor(model => model.IdCategoriaMenuNavigation.NombreCategoriaMenu)
                </span>
            </dd>
        </dl>

        <div class="text-center mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.IdPlatillo" class="btn btn-sm btn-edit me-3" style="background-color: #F28F16; color: white;">
                <i class="bi bi-pencil-fill me-1"></i> Editar
            </a>

            <a asp-action="Index" class="btn btn-outline-secondary-brand">
                <i class="bi bi-arrow-left-circle-fill me-1"></i> Regresar a Platillos
            </a>
        </div>
    </div>
</div>